body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('../img/teste.jpg'); /* Adicionar imagem de fundo */
    background-size: cover; /* Cobrir toda a tela com a imagem */
    background-position: center; /* Centralizar a imagem de fundo */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000; /* Adicionar borda ao redor do contêiner */
    padding: 20px; /* Adicionar preenchimento ao contêiner */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Aumentar a sombra ao redor do contêiner */
    background-color: rgba(255, 255, 255, 0.9); /* Cor de fundo do contêiner com opacidade */
}
h1 {
    text-align: center; /* Centralizar o título */
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label, input, button {
    margin: 10px;
}
#player-names input {
    display: block;
    margin: 5px 0;
}
